<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzyl.mapper.NursingProjectMapper">
    <insert id="createNursingProject">
        insert into nursing_project(name,price,unit,order_no,status,image,nursing_requirement,remark,create_by)
        values (#{name},#{price},#{unit},#{orderNo},#{status},#{image},#{nursingRequirement},#{remark},#{createBy})
    </insert>

    <select id="findByPages" resultType="com.zzyl.vo.NursingProjectVo">
        select p.*,su.real_name as creator from nursing_project p left join sys_user su on p.create_by = su.id
        <where>
            <if test="name != null and name != ''">
                p.name like concat('%',#{name},'%')
            </if>
            <if test="status != null">
                and p.status = #{status}
            </if>
        </where>
        order by p.order_no ,p.create_time desc
    </select>
    <select id="findById" resultType="com.zzyl.entity.NursingProject">
        select * from nursing_project where id=#{id}
    </select>

    <update id="updeateById">
        update nursing_project
        <set>
            <if test="name !=null and name!=''">
                name=#{name},
            </if>
            <if test="price !=null">
                price=#{price},
            </if>
            <if test="unit !=null and unit !=''">
                unit=#{unit},
            </if>
            <if test="orderNo !=null">
                order_no=#{orderNo},
            </if>
            <if test="status !=null">
                status=#{status},
            </if>
            <if test="image !=null and image !=''">
                image=#{image},
            </if>
            <if test="nursingRequirement!=null and nursingRequirement !=''">
                nursing_requirement=#{nursingRequirement},
            </if>
            <if test="remark!=null and remark !=''">
                remark=#{remark},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>
